name: Update IP List

on:
  schedule:
    - cron: "10 */12 * * *"   # обновление каждые 12 часов 10 минуте
  workflow_dispatch:
    inputs:
      name:
        description: "Who to greet"
        default: "World"

jobs:
  update-domains:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run update script
        run: |
          chmod +x update_ip.sh
          ./update_ip.sh

      - name: Commit changes if needed
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git config user.name "GitHub Actions"
            git config user.email "actions@github.com"
            git add domains.lst
            git commit -m "Update ip.lst"
            git push
          else
            echo "No changes to commit."
          fi
